.question {
  font-size: 14px;
  color: #263238;
}

.question * {
  margin: -5px 0;
  padding: 0;
}

.question-link {
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
}

.question-link a {
  color: grey;
}

.question-link a::before {
  content: '[ ';
}

.question-link a::after {
  content: ' ]';
}

.question-link a:hover,
.question-link a:focus,
.question-link a:active {
  color: lightgrey;
}

.question img {
  margin: 0;
  margin-bottom: 10px;
  object-fit: contain !important;
  width: 100% !important;
}

.question code,
.question pre {
  background-color: #f7f9fa;
}

.question code {
  font-family: monospace;
}

.question pre {
  font-family: SFMono-Regular, monospace;
  font-size: 13px;
  line-height: 200%;
  margin: 0 10px;

  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.question ul {
  padding: 0;
}

.question ul li {
  margin: -20px 30px;
}

@media screen and (max-width: 768px) {
  .question img {
    width: none;
  }

  .question-link a {
    text-decoration: underline;
  }
}
