.question {
  font-size: 1em;
  color: #263238;
  white-space: normal !important;
}

.question * {
  margin: 0 0 1em;
  padding: 0;
}

.question-link {
  margin: 10px 0;
  font-size: 1em;
  cursor: pointer;
}

.question-link a {
  color: grey;
}

.question-link a::before {
  content: '[ ';
}

.question-link a::after {
  content: ' ]';
}

.question-link a:hover,
.question-link a:focus,
.question-link a:active {
  color: lightgrey;
}

.question img {
  margin: 0;
  margin-bottom: 1em;
  object-fit: contain !important;
  width: 100% !important;
}

.question code,
.question pre {
  font-size: 0.9em;
  background-color: #f7f9fa;
}

.question code {
  font-family: monospace;
  padding: 0.15em 0.3em;
  color: #546e7a;
}

.question pre {
  font-family: SFMono-Regular, monospace;
  line-height: 150%;
  margin: 0 0 0.9em;
  padding: 0.7em 1em;

  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.question ul {
  padding: 0;
}

.question ul li {
  margin: 0 30px 5px;
}

@media screen and (max-width: 768px) {
  .question img {
    width: none;
  }

  .question-link a {
    text-decoration: underline;
  }
}
