.question-list {
  display: grid;
  grid: auto-flow / minmax(320px, 500px) 80px;
  margin: 30px auto;
  justify-content: center;
}

.question-link-cell {
  padding: 4px 10px;
}

.question-link-cell a {
  display: block;
  cursor: pointer;
  text-decoration: underline;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.question-link-cell a:hover,
.question-link-cell a:focus {
  color: grey;
}

.question-list > *:nth-child(4n + 1),
.question-list > *:nth-child(4n + 2) {
  background-color: #f7f9fa;
}

.question-list > *:nth-child(2n + 1) {
  border-left: 2px solid greenyellow;
}

.question-list > *:nth-child(2n + 2) {
  border-right: 2px solid greenyellow;
}

.question-list > *:nth-child(1),
.question-list > *:nth-child(2) {
  border-top: 2px solid greenyellow;
}

.question-list > *:nth-last-child(1),
.question-list > *:nth-last-child(2) {
  border-bottom: 2px solid greenyellow;
}

.question-difficulty-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
}

@media screen and (max-width: 768px) {
  .question-list {
    grid-template-columns: minmax(120px, 360px) 80px;
  }
}
