@import url('https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap');

.plasmic_tokens {
  --token-ye9-YHF5f: Futura;
  --plasmic-token-primary-font: var(--token-ye9-YHF5f);
  --token-EpaOxPdp5: 64px;
  --plasmic-token-title-size: var(--token-EpaOxPdp5);
}

.plasmic_default_styles {
  --mixin-BKIWZDRmWovg_font-family: 'Inter';
  --mixin-BKIWZDRmWovg_font-size: 16px;
  --mixin-BKIWZDRmWovg_font-weight: 400;
  --mixin-BKIWZDRmWovg_font-style: normal;
  --mixin-BKIWZDRmWovg_color: #535353;
  --mixin-BKIWZDRmWovg_text-align: left;
  --mixin-BKIWZDRmWovg_text-transform: none;
  --mixin-BKIWZDRmWovg_line-height: 1.5;
  --mixin-BKIWZDRmWovg_letter-spacing: normal;
  --mixin-BKIWZDRmWovg_white-space: pre-wrap;
  --mixin-BKIWZDRmWovg_user-select: text;
  --mixin-BKIWZDRmWovg_text-decoration-line: none;
  --mixin-BKIWZDRmWovg_text-overflow: clip;
  --mixin-CX2FFVbXVAo-_color: #000000;
  --mixin-CX2FFVbXVAo-_font-weight: 900;
  --mixin-CX2FFVbXVAo-_font-size: 72px;
  --mixin-CX2FFVbXVAo-_line-height: 1;
  --mixin-CX2FFVbXVAo-_letter-spacing: -4px;
  --mixin-5deKv_y0Amlg_font-family: 'Inter';
  --mixin-5deKv_y0Amlg_color: #000000;
  --mixin-5deKv_y0Amlg_font-size: 48px;
  --mixin-5deKv_y0Amlg_font-weight: 700;
  --mixin-5deKv_y0Amlg_letter-spacing: -1px;
  --mixin-5deKv_y0Amlg_line-height: 1.1;
  --mixin-bpVGOktcfVMT_color: #0070f3;
  --mixin-OpFNsMvWruEZ_font-family: 'Inter';
  --mixin-OpFNsMvWruEZ_color: #000000;
  --mixin-OpFNsMvWruEZ_font-size: 32px;
  --mixin-OpFNsMvWruEZ_font-weight: 600;
  --mixin-OpFNsMvWruEZ_letter-spacing: -0.8px;
  --mixin-OpFNsMvWruEZ_line-height: 1.2;
  --mixin-D0kIrYJj1Uds_font-family: 'Inter';
  --mixin-D0kIrYJj1Uds_color: #000000;
  --mixin-D0kIrYJj1Uds_font-size: 24px;
  --mixin-D0kIrYJj1Uds_font-weight: 600;
  --mixin-D0kIrYJj1Uds_letter-spacing: -0.5px;
  --mixin-D0kIrYJj1Uds_line-height: 1.3;
  --mixin-ZCVuOih5hVrL_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ZCVuOih5hVrL_border-bottom-color: #dddddd;
  --mixin-ZCVuOih5hVrL_border-bottom-style: solid;
  --mixin-ZCVuOih5hVrL_border-bottom-width: 1px;
  --mixin-ZCVuOih5hVrL_border-left-color: #dddddd;
  --mixin-ZCVuOih5hVrL_border-left-style: solid;
  --mixin-ZCVuOih5hVrL_border-left-width: 1px;
  --mixin-ZCVuOih5hVrL_border-right-color: #dddddd;
  --mixin-ZCVuOih5hVrL_border-right-style: solid;
  --mixin-ZCVuOih5hVrL_border-right-width: 1px;
  --mixin-ZCVuOih5hVrL_border-top-color: #dddddd;
  --mixin-ZCVuOih5hVrL_border-top-style: solid;
  --mixin-ZCVuOih5hVrL_border-top-width: 1px;
  --mixin-ZCVuOih5hVrL_border-bottom-left-radius: 3px;
  --mixin-ZCVuOih5hVrL_border-bottom-right-radius: 3px;
  --mixin-ZCVuOih5hVrL_border-top-left-radius: 3px;
  --mixin-ZCVuOih5hVrL_border-top-right-radius: 3px;
  --mixin-ZCVuOih5hVrL_font-family: 'Inconsolata';
  --mixin-ZCVuOih5hVrL_padding-bottom: 1px;
  --mixin-ZCVuOih5hVrL_padding-left: 4px;
  --mixin-ZCVuOih5hVrL_padding-right: 4px;
  --mixin-ZCVuOih5hVrL_padding-top: 1px;
  --mixin-4AboNVB4A0gF_border-left-color: #dddddd;
  --mixin-4AboNVB4A0gF_border-left-style: solid;
  --mixin-4AboNVB4A0gF_border-left-width: 3px;
  --mixin-4AboNVB4A0gF_color: #888888;
  --mixin-4AboNVB4A0gF_padding-left: 10px;
  --mixin-haOEftIE6Ccq_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-haOEftIE6Ccq_border-bottom-color: #dddddd;
  --mixin-haOEftIE6Ccq_border-bottom-style: solid;
  --mixin-haOEftIE6Ccq_border-bottom-width: 1px;
  --mixin-haOEftIE6Ccq_border-left-color: #dddddd;
  --mixin-haOEftIE6Ccq_border-left-style: solid;
  --mixin-haOEftIE6Ccq_border-left-width: 1px;
  --mixin-haOEftIE6Ccq_border-right-color: #dddddd;
  --mixin-haOEftIE6Ccq_border-right-style: solid;
  --mixin-haOEftIE6Ccq_border-right-width: 1px;
  --mixin-haOEftIE6Ccq_border-top-color: #dddddd;
  --mixin-haOEftIE6Ccq_border-top-style: solid;
  --mixin-haOEftIE6Ccq_border-top-width: 1px;
  --mixin-haOEftIE6Ccq_border-bottom-left-radius: 3px;
  --mixin-haOEftIE6Ccq_border-bottom-right-radius: 3px;
  --mixin-haOEftIE6Ccq_border-top-left-radius: 3px;
  --mixin-haOEftIE6Ccq_border-top-right-radius: 3px;
  --mixin-haOEftIE6Ccq_font-family: 'Inconsolata';
  --mixin-haOEftIE6Ccq_padding-bottom: 3px;
  --mixin-haOEftIE6Ccq_padding-left: 6px;
  --mixin-haOEftIE6Ccq_padding-right: 6px;
  --mixin-haOEftIE6Ccq_padding-top: 3px;
  --mixin-7iy3jxK_3sSB_display: flex;
  --mixin-7iy3jxK_3sSB_flex-direction: column;
  --mixin-7iy3jxK_3sSB_align-items: stretch;
  --mixin-7iy3jxK_3sSB_justify-content: flex-start;
  --mixin-7iy3jxK_3sSB_list-style-position: outside;
  --mixin-7iy3jxK_3sSB_padding-left: 40px;
  --mixin-7iy3jxK_3sSB_position: relative;
  --mixin-7iy3jxK_3sSB_list-style-type: disc;
  --mixin-tcuj8j53zcgtK_display: flex;
  --mixin-tcuj8j53zcgtK_flex-direction: column;
  --mixin-tcuj8j53zcgtK_align-items: stretch;
  --mixin-tcuj8j53zcgtK_justify-content: flex-start;
  --mixin-tcuj8j53zcgtK_list-style-position: outside;
  --mixin-tcuj8j53zcgtK_padding-left: 40px;
  --mixin-tcuj8j53zcgtK_position: relative;
  --mixin-tcuj8j53zcgtK_list-style-type: decimal;
  --mixin-VbRNpnN3tLEKy_font-family: 'Inter';
  --mixin-VbRNpnN3tLEKy_color: #000000;
  --mixin-VbRNpnN3tLEKy_font-size: 20px;
  --mixin-VbRNpnN3tLEKy_font-weight: 600;
  --mixin-VbRNpnN3tLEKy_letter-spacing: -0.3px;
  --mixin-VbRNpnN3tLEKy_line-height: 1.5;
  --mixin-cLuiQJaPMhfw9_font-family: 'Inter';
  --mixin-cLuiQJaPMhfw9_color: #000000;
  --mixin-cLuiQJaPMhfw9_font-size: 16px;
  --mixin-cLuiQJaPMhfw9_font-weight: 600;
  --mixin-cLuiQJaPMhfw9_line-height: 1.5;
  --mixin-yaL0c3Z1PN6DQ_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-BKIWZDRmWovg_font-family);
  font-size: var(--mixin-BKIWZDRmWovg_font-size);
  font-weight: var(--mixin-BKIWZDRmWovg_font-weight);
  font-style: var(--mixin-BKIWZDRmWovg_font-style);
  color: var(--mixin-BKIWZDRmWovg_color);
  text-align: var(--mixin-BKIWZDRmWovg_text-align);
  text-transform: var(--mixin-BKIWZDRmWovg_text-transform);
  line-height: var(--mixin-BKIWZDRmWovg_line-height);
  letter-spacing: var(--mixin-BKIWZDRmWovg_letter-spacing);
  white-space: var(--mixin-BKIWZDRmWovg_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-CX2FFVbXVAo-_color);
  font-weight: var(--mixin-CX2FFVbXVAo-_font-weight);
  font-size: var(--mixin-CX2FFVbXVAo-_font-size);
  line-height: var(--mixin-CX2FFVbXVAo-_line-height);
  letter-spacing: var(--mixin-CX2FFVbXVAo-_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-5deKv_y0Amlg_font-family);
  color: var(--mixin-5deKv_y0Amlg_color);
  font-size: var(--mixin-5deKv_y0Amlg_font-size);
  font-weight: var(--mixin-5deKv_y0Amlg_font-weight);
  letter-spacing: var(--mixin-5deKv_y0Amlg_letter-spacing);
  line-height: var(--mixin-5deKv_y0Amlg_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-bpVGOktcfVMT_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-OpFNsMvWruEZ_font-family);
  color: var(--mixin-OpFNsMvWruEZ_color);
  font-size: var(--mixin-OpFNsMvWruEZ_font-size);
  font-weight: var(--mixin-OpFNsMvWruEZ_font-weight);
  letter-spacing: var(--mixin-OpFNsMvWruEZ_letter-spacing);
  line-height: var(--mixin-OpFNsMvWruEZ_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-D0kIrYJj1Uds_font-family);
  color: var(--mixin-D0kIrYJj1Uds_color);
  font-size: var(--mixin-D0kIrYJj1Uds_font-size);
  font-weight: var(--mixin-D0kIrYJj1Uds_font-weight);
  letter-spacing: var(--mixin-D0kIrYJj1Uds_letter-spacing);
  line-height: var(--mixin-D0kIrYJj1Uds_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-ZCVuOih5hVrL_background);
  font-family: var(--mixin-ZCVuOih5hVrL_font-family);
  border-radius: var(--mixin-ZCVuOih5hVrL_border-top-left-radius)
    var(--mixin-ZCVuOih5hVrL_border-top-right-radius)
    var(--mixin-ZCVuOih5hVrL_border-bottom-right-radius)
    var(--mixin-ZCVuOih5hVrL_border-bottom-left-radius);
  padding: var(--mixin-ZCVuOih5hVrL_padding-top)
    var(--mixin-ZCVuOih5hVrL_padding-right)
    var(--mixin-ZCVuOih5hVrL_padding-bottom)
    var(--mixin-ZCVuOih5hVrL_padding-left);
  border-top: var(--mixin-ZCVuOih5hVrL_border-top-width)
    var(--mixin-ZCVuOih5hVrL_border-top-style)
    var(--mixin-ZCVuOih5hVrL_border-top-color);
  border-right: var(--mixin-ZCVuOih5hVrL_border-right-width)
    var(--mixin-ZCVuOih5hVrL_border-right-style)
    var(--mixin-ZCVuOih5hVrL_border-right-color);
  border-bottom: var(--mixin-ZCVuOih5hVrL_border-bottom-width)
    var(--mixin-ZCVuOih5hVrL_border-bottom-style)
    var(--mixin-ZCVuOih5hVrL_border-bottom-color);
  border-left: var(--mixin-ZCVuOih5hVrL_border-left-width)
    var(--mixin-ZCVuOih5hVrL_border-left-style)
    var(--mixin-ZCVuOih5hVrL_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-4AboNVB4A0gF_color);
  padding-left: var(--mixin-4AboNVB4A0gF_padding-left);
  border-left: var(--mixin-4AboNVB4A0gF_border-left-width)
    var(--mixin-4AboNVB4A0gF_border-left-style)
    var(--mixin-4AboNVB4A0gF_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-haOEftIE6Ccq_background);
  font-family: var(--mixin-haOEftIE6Ccq_font-family);
  border-radius: var(--mixin-haOEftIE6Ccq_border-top-left-radius)
    var(--mixin-haOEftIE6Ccq_border-top-right-radius)
    var(--mixin-haOEftIE6Ccq_border-bottom-right-radius)
    var(--mixin-haOEftIE6Ccq_border-bottom-left-radius);
  padding: var(--mixin-haOEftIE6Ccq_padding-top)
    var(--mixin-haOEftIE6Ccq_padding-right)
    var(--mixin-haOEftIE6Ccq_padding-bottom)
    var(--mixin-haOEftIE6Ccq_padding-left);
  border-top: var(--mixin-haOEftIE6Ccq_border-top-width)
    var(--mixin-haOEftIE6Ccq_border-top-style)
    var(--mixin-haOEftIE6Ccq_border-top-color);
  border-right: var(--mixin-haOEftIE6Ccq_border-right-width)
    var(--mixin-haOEftIE6Ccq_border-right-style)
    var(--mixin-haOEftIE6Ccq_border-right-color);
  border-bottom: var(--mixin-haOEftIE6Ccq_border-bottom-width)
    var(--mixin-haOEftIE6Ccq_border-bottom-style)
    var(--mixin-haOEftIE6Ccq_border-bottom-color);
  border-left: var(--mixin-haOEftIE6Ccq_border-left-width)
    var(--mixin-haOEftIE6Ccq_border-left-style)
    var(--mixin-haOEftIE6Ccq_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-7iy3jxK_3sSB_display);
  flex-direction: var(--mixin-7iy3jxK_3sSB_flex-direction);
  align-items: var(--mixin-7iy3jxK_3sSB_align-items);
  justify-content: var(--mixin-7iy3jxK_3sSB_justify-content);
  list-style-position: var(--mixin-7iy3jxK_3sSB_list-style-position);
  padding-left: var(--mixin-7iy3jxK_3sSB_padding-left);
  position: var(--mixin-7iy3jxK_3sSB_position);
  list-style-type: var(--mixin-7iy3jxK_3sSB_list-style-type);
  flex-column-gap: var(--mixin-7iy3jxK_3sSB_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-tcuj8j53zcgtK_display);
  flex-direction: var(--mixin-tcuj8j53zcgtK_flex-direction);
  align-items: var(--mixin-tcuj8j53zcgtK_align-items);
  justify-content: var(--mixin-tcuj8j53zcgtK_justify-content);
  list-style-position: var(--mixin-tcuj8j53zcgtK_list-style-position);
  padding-left: var(--mixin-tcuj8j53zcgtK_padding-left);
  position: var(--mixin-tcuj8j53zcgtK_position);
  list-style-type: var(--mixin-tcuj8j53zcgtK_list-style-type);
  flex-column-gap: var(--mixin-tcuj8j53zcgtK_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-VbRNpnN3tLEKy_font-family);
  color: var(--mixin-VbRNpnN3tLEKy_color);
  font-size: var(--mixin-VbRNpnN3tLEKy_font-size);
  font-weight: var(--mixin-VbRNpnN3tLEKy_font-weight);
  letter-spacing: var(--mixin-VbRNpnN3tLEKy_letter-spacing);
  line-height: var(--mixin-VbRNpnN3tLEKy_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-cLuiQJaPMhfw9_font-family);
  color: var(--mixin-cLuiQJaPMhfw9_color);
  font-size: var(--mixin-cLuiQJaPMhfw9_font-size);
  font-weight: var(--mixin-cLuiQJaPMhfw9_font-weight);
  line-height: var(--mixin-cLuiQJaPMhfw9_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-yaL0c3Z1PN6DQ_color);
}
